:root {
  --font-stack: "Inter", sans-serif;
  --heavy-fontWieght: 400;
  --normal-fontWieght: 200;
  --light-fontWieght: 100;
  --user-blue: rgb(74, 74, 250);
  --recieved-blue: rgb(19, 19, 121);
  --background-color: rgb(29, 29, 29);
  --background-highLight: #373737;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: var(--font-stack);
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(220, 220, 220);
}

#main-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
