.message {
  width: auto;
  padding: 1rem;
  margin: 1rem 0rem;
  border-radius: 10px;
}

.sent {
  text-align: right;
  background-color: rgb(74, 74, 250);
  color: white;
}

.received {
  text-align: left;
  background-color: rgb(0, 0, 55);
  color: white;
}
