.message {
  padding: 1rem;
  margin: 1rem 1.5rem;
  border-radius: 10px;
  text-align: left;
  font-family: var(--font-stack);
  position: relative;
}

.message p {
  word-break: break-all;
  white-space: normal;
  display: inline-block;
  font-family: var(--font-stack);
}

.message > div:nth-child(2) {
  margin: -18px 0px 0px 56px;
}

.message img {
  height: 45px;
  border-radius: 16px;
}

.sent {
  text-align: left;
  /* background: linear-gradient(to left, var(--recieved-blue), var(--user-blue)); */
  color: black;
}

.received {
  text-align: left;
  /* background: linear-gradient(to left, var(--recieved-blue), rgb(0, 0, 55)); */
  color: white;
}
