.chat-room {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #fff;
  margin: 0rem 1.5rem 0rem 1.5rem;
  position: relative;

  /* to fixed header to chat-room */
  /* transform: translateZ(0); */
}

@media screen and (max-width: 720px) {
  .chat-room {
    width: 100%;
    margin: 0;
  }
}

main {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

main > div {
  margin-top: 10rem;
}

form {
  position: sticky;
  bottom: 0px;
  left: 0;
  right: 0px;
  height: 100px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  z-index: 9999;
  margin: 0rem 1.5rem;
  background-color: white;
}

form > div > button {
  margin: 0.3rem 0rem;
}

form > div > button > svg {
  color: rgb(25, 25, 25);
}

.error {
  border-top: 1px solid red;
  border-right: 1px solid red;
  border-left: 1px solid red;
}

.form-subcontainer {
  outline: none;
  border: none;
  width: 95%;
  background-color: aliceblue;
  cursor: text;
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-family: var(--font-stack);
  padding: 0.5rem;
  font-size: 1rem;
  z-index: 5;
  margin-bottom: 10px;
  border-radius: 10px 0px 0px 10px;
}

.form-subcontainer > div {
  min-height: 100px;
}

.form-subcontainer :focus {
  border: none;
  outline: none;
}

/* .form-subcontainer > div::-webkit-scrollbar {
  width: 1em;
}

.form-subcontainer > div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(8, 0, 159, 0.3);
}

.form-subcontainer > div::-webkit-scrollbar-thumb {
  background-color: var(--user-blue);
  outline: 1px solid var(--user-blue);
} */

form button {
  border: none;
  width: 20%;
  cursor: pointer;
  color: #fff;
  background-color: rgb(25, 25, 25);
  /* background: linear-gradient(to right, var(--user-blue) 0%, rgb(36, 36, 199) 40%, var(--recieved-blue) 90%); */
}

form > div > div > p {
  display: inline;
}

#bottom {
  margin: 1.5rem 0 !important;
}
