.chat-room {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: rgb(230, 230, 230);
  margin: 0rem 1.5rem 0rem 1.5rem;
  position: relative;

  /* to fixed header to chat-room */
  /* transform: translateZ(0); */
}

main {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

main > div {
  margin-top: 10rem;
}

form {
  position: sticky;
  bottom: 0px;
  left: 0;
  right: 0px;
  height: 100px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  border-radius: 10px 10px 0px 0px;
  margin: 0rem 1.5rem;
}

form > div > button {
  margin: 0.3rem 0rem;
}

form > div > button > svg {
  color: rgb(25, 25, 25);
}

.error {
  border-top: 1px solid red;
  border-right: 1px solid red;
  border-left: 1px solid red;
}

.form-subcontainer {
  outline: none;
  border: none;
  width: 95%;
  background-color: #fff;
  cursor: text;
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-family: var(--font-stack);
  padding: 0.5rem;
  font-size: 1rem;
  z-index: 5;
}

.form-subcontainer > div {
  min-height: 100px;
}

.form-subcontainer :focus {
  border: none;
  outline: none;
}

/* .form-subcontainer > div::-webkit-scrollbar {
  width: 1em;
}

.form-subcontainer > div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(8, 0, 159, 0.3);
}

.form-subcontainer > div::-webkit-scrollbar-thumb {
  background-color: var(--user-blue);
  outline: 1px solid var(--user-blue);
} */

form button {
  border: none;
  width: 20%;
  cursor: pointer;
  color: #fff;
  background-color: rgb(25, 25, 25);
  /* background: linear-gradient(to right, var(--user-blue) 0%, rgb(36, 36, 199) 40%, var(--recieved-blue) 90%); */
}

.form-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: 0px;
  z-index: 9990;
  height: 100%;
  font-size: 18px;
  align-items: center;
  overflow: hidden;
  position: absolute;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

.form-options-visible {
  top: 0px;
}

.form-options button {
  border: none;
  background: none;
  color: black;
  padding: 0rem;
  width: 30px;
  margin: 0.3rem 0.3rem !important;
}

form > div > div > p {
  display: inline;
}

.bold {
  font-weight: 600;
}

.italics {
  font-style: italic;
}

#bottom {
  margin: 1.5rem 0 !important;
}
