.apply-context {
  position: absolute;
  /* top: -100px; */
  top: -20px;
  bottom: 110px;
  left: 0;
  right: 40px;
  z-index: -10;
  /* background-color: rgb(225, 233, 240); */
  transition: all 0.2 ease-in-out;
  margin-bottom: 0.5rem;
}

.applying-context {
  top: -105px;
  border-radius: 0 10px 10px 10px;
  background-color: rgb(233, 242, 249);
}

.arrow-down {
  transform: rotate(-180deg);
}

.toggle-button {
  width: 110px;
  background: rgba(250, 250, 250, 0.8);
  padding: 0 0.3rem;
  content: "apply context";
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
}

.toggled-button {
  width: 30px;
  position: absolute;
  top: -20px;
  background: rgba(250, 250, 250, 0.8);
}

.toggle-button svg,
.toggled-button svg {
  color: black;
}

.context-container {
  width: 100%;
  height: 100%;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.searching-context {
  top: -400%;
}

.search-header {
  font-size: 1rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search input {
  height: 30px;
  width: 30%;
  outline: none;
  border: none;
  font-size: 1rem;
}

.search button {
  height: 30px;
  width: 7%;
}

.context-results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 80%;
}

.wiki {
  margin: 0.4rem;
  position: relative;
  cursor: pointer;
}

.wiki:hover {
  background-color: aliceblue;
  opacity: 0.6;
}

.video {
  margin: 0.4rem;
  position: relative;
  cursor: pointer;
}

.video:hover {
  background-color: aliceblue;
  opacity: 0.6;
}

.decision {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.checkMark {
  position: absolute;
  right: 10px;
}

.checked {
  color: aquamarine;
}

.chosen::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: " ";
  background-color: aliceblue;
  opacity: 0.6;
}

.decision button {
  height: 30px;
  width: fit-content;
  margin: 0.3rem;
  padding: 0.3rem;
  border-radius: 3px;
}
