.bold {
  font-weight: 600;
}

.italics {
  font-style: italic;
}

.form-options {
  display: flex;
  border-radius: 0px 10px 10px 0px;
  flex-direction: column;
  justify-content: flex-start;

  align-items: center;
  right: 3%;
  z-index: 9990;
  top: 0;
  font-size: 18px;
  align-items: center;

  position: absolute;
  background-color: aliceblue;
  transition: all 0.2s ease-in-out;
  bottom: 10px;
}

.apply-context {
  position: absolute;
  right: calc(0.3rem + 30px + 18px);
  z-index: 999999;
}

.form-options button {
  border: none;
  background: none;
  color: black;
  padding: 0rem;
  width: 30px;
  margin: 0.3rem 0.3rem !important;
  z-index: 9;
}

.form-options button[type="submit"] {
  position: absolute;
  background-color: aliceblue;

  height: 30px;
  bottom: -5px;
}

.form-options:hover {
  top: -60px;
}

.extra-options {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.extra-options svg {
  color: black;
}

.form-options:hover .extra-options {
  display: flex;
}

.red-option {
  color: red !important;
  font-style: bolder;
  font-size: 1.3rem;
  z-index: 9;
}

.blue-option {
  color: blue !important;
  font-weight: 400;
  font-size: 1.3rem;
}

.red {
  color: red;
}

.blue {
  color: blue;
}
