.group-header {
  position: sticky;
  top: 80px;

  z-index: 9999;
  height: 100px;
  padding: 1rem 2.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: black;

  transition: height 0.2s ease-in-out;
}

.group-header h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.group-header p {
  color: rgb(182, 182, 182);
}

.group-toggled {
  justify-content: center;
  height: 60px;
  border-bottom: 1px solid aliceblue;
  background: linear-gradient(
    to bottom,
    rgba(250, 250, 250) 50%,
    rgba(250, 250, 250, 0.95) 55%,
    rgba(250, 250, 250, 0.9) 65%,
    rgba(250, 250, 250, 0.8) 75%,
    rgba(250, 250, 250, 0.6) 90%,
    rgba(250, 250, 250, 0.5)
  );
}
