.groups {
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  background-color: #293b48;
  z-index: 99999;
  width: 20%;
  min-width: 175px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: rgb(218, 218, 218);
  transition: all 0.2s ease-in-out;
}

.groups::before {
  content: "";
  width: 100%;
  /* background-color: aliceblue; */
  border-radius: 10px 0px 0px 10px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 720px) {
  .groups {
    position: fixed;
    left: 0;
    bottom: 0;
  }
}

.group-title {
  color: rgb(171, 171, 171);
  text-decoration: none;
  margin: 0.2rem 0rem;
}

.group-title:hover {
  color: rgb(218, 218, 218);
}

.arrow-right {
  transform: rotate(-90deg);
  position: absolute;
  left: 10px;
  top: 10px;
}

.arrow-left {
  transform: rotate(90deg);
  position: absolute;
  top: 90px;
  left: 10px;
  z-index: 999999;
}

svg {
  color: white;
  cursor: pointer;
  font-size: 20px !important;
  transition: all 0.2s ease-in-out;
}

svg:hover {
  color: rgb(218, 218, 218);
  font-size: 22px !important;
}

.group-content-wrapper {
  min-height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-tag {
  display: flex;
  align-items: center;
}
