.groups {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #000e15e9;
  z-index: 1000;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(218, 218, 218);
  padding: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.group-title {
  color: rgb(171, 171, 171);
  text-decoration: none;
}

.group-title:hover {
  color: rgb(218, 218, 218);
}

.arrow-right {
  transform: rotate(-90deg);
  position: absolute;
  right: 10px;
  top: 10px;
}

.arrow-left {
  transform: rotate(90deg);
  position: fixed;
  top: 10px;
  left: 10px;
}

svg {
  color: white;
  cursor: pointer;
  font-size: 20px !important;
  transition: all 0.2s ease-in-out;
}

svg:hover {
  color: rgb(218, 218, 218);
  font-size: 22px !important;
}
