.user-header {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.user-header p {
  font-size: 20px;
  margin-left: 10px;
}

.sent-header {
  justify-content: flex-end;
}

.sent-header p {
  margin-right: 10px;
}

.received-header p {
  margin-left: 10px;
}
